body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
     transition: background-color 0.6s ease-in-out, color 0.6s ease-in-out;
}
.navbar {
    background-color: #6c0000;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.navbar img {
    height: 40px;
    margin-right: 10px;
}
.navbar-title {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.navbar-toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
}
.navbar-toggle:hover {
    color: #f8f9fa;
}
.theme-switch {
    display: flex;
    align-items: center;
}
.theme-switch label {
    margin-right: 10px;
    cursor: pointer;
}
@media only screen and (max-width: 768px) {
    .navbar-title {
        display: none;
    }
    .navbar-toggle {
        display: block;
    }
}
.col-12{
    margin-top: 30px;
   padding-left: 0%;
   padding-right: 0%;
    text-align: center;
}
table tr td{
    vertical-align: middle;
}

td button{
    margin: 6px;
}

td button i{
    font-size: 22px;
}


.table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
.dark-mode .table td {
    color: #fff;
}

.modal-header{
    background: #6c0000;
    color: #fff;
}

.modal-body form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0;
}

.modal-body form .imgholder{
    width: 200px;
    height: 200px;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

.imgholder .upload{
    position: absolute;
    bottom: 0;
    left: 10;
    width: 100%;
    height: 100px;
    background: rgba(0,0,0,0.3);
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.upload i{
    color: #fff;
    font-size: 35px;
}

.imgholder:hover .upload{
    display: flex;
}

.imgholder .upload input{
    display: none;
}

.modal-body form .inputField{
    flex-basis: 68%;
    border-left: 5px groove #6c0000;
    padding-left: 20px;
}

form .inputField > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

form .inputField > div label{
    font-size: 20px;
    font-weight: 500;
}

#userForm form .inputField > div label::after{
    content: "*";
    color: grey;
}

form .inputField > div input{
    width: 75%;
    padding: 10px;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid #6c0000;
}

.modal-footer .submit{
    font-size: 18px;
}


#readData form .inputField > div input{
    color: #000;
    font-size: 18px;
}

.footer {
    background-color: #6c0000;
    color: #fff;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 9999; 
  }
  .footer p {
    margin-bottom: 5px; 
  }
  .line {
    background-color: #fff;
    height: 1px;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 45px; 
  }
 
